<!DOCTYPE html>
<html>
  <head>
    <title>Pizzeria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <nav class="navbar navbar-default" style="background-color: #f39c05;">
    <div class="container-fluid">
      <ul>
        <div class="navbar-header">
          <span class="navbar-brand" href="/" style="color: #2c353b;">Joe's Pizzeria</span>
        </div>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "/" do %>
            <span class="glyphicon glyphicon-home" href="/">Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/catalog" do %>
            <span class="glyphicon glyphicon-list-alt" href="/catalog">Catalog</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/shopping" do %>
            <span class="glyphicon glyphicon-shopping-cart" href="/shopping">Cart</span>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span>
              Log Out
            <% end %>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
            <li>
              <%= link_to "/" do %>
              <span class="glyphicon glyphicon-home" href="/">Home</span>
              <%end%>
            </li>
            <li>
              <%= link_to "/catalog" do %>
              <span class="glyphicon glyphicon-list-alt" href="/catalog">Catalog</span>
              <%end%>
          </li>
          <li>
            <%= link_to new_user_session_path do%>
              <span class="glyphicon glyphicon-log-in"></span>
              Sign In
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span>
              Sign Up
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= yield %>
</body>

<div class="footer">
  <p>Site created by Jaime Contardo</p>
</div>
</html>

