<div class="shopping-container">
  <p></p>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Crust type</th>
    </tr>
    <% @list.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td>$<%= (pizza.recipe.price + pizza.crust.price).to_s %></td>
        <td><%= pizza.crust.crust_type %></td>
      </tr>
    <% end %>
  </table>
  <p style="background-color: green;height: 2px"></p>
  <table>
      <tr>
        <td>Address:</td>
        <td><%= @the_info["address_1"] %></td>
      </tr>
      <tr>
        <td>Backup Address:</td>
        <td><%= @the_info["address_2"] %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= @the_info["phone"] %></td>
      </tr>
    <tr>
      <td>Total Price</td>
      <td>$<%= @total_price %></td>
    </tr>
  </table>
  <p></p>
  <p>
  	Select your payment method
  </p>
  <select name="Payment" id="to_vote">
	  <option value="1">Cash</option>
	  <option value="0">Credit card</option>
  </select>
  <p></p>
  <a href="/" id="lets_do_some_ajax" style="background-color: #f39c05;padding: 10px;color: #2c353b;font-size: 25px">Finish payment</a>
</div>
 
<script>
function SendOrder() {
    var first_data = "<%= @ids_data %>";
    var address1 = "<%= @the_info["address_1"] %>";
    var address2 = "<%= @the_info["address_2"] %>";
    var phone = "<%= @the_info["phone"] %>";

    var the_data = {ids: first_data, address_1: address1, address_2: address2, phone: phone}
    $.post( "/orders/create", the_data, function( data ) {
    });
}
$("#lets_do_some_ajax").click(function () {
   SendOrder();
});
</script>