<p style="color: green;text-align: center"><%= flash[:added_to_list] %></p>
<div class="flex-container">
	<% @pizzas.each do |pizza| %>
    	<div class="flex-item" style="background: center top no-repeat;background-size: 100% 100%">
      	<div class="catalog_info_container">
        	<label style="float: left; margin-top: 15px">Name</label>
        	<p style="text-transform: uppercase"><%= pizza.name %></p>
        	<label style="float: left">Crust type</label>
        	<p style="text-transform: uppercase"><%= pizza.crust.crust_type %></p>
        	<label style="float: left">Ingredients</label>
        	<div style="margin-top: 40px">
        	<% pizza.recipe.ingredients.each do |i| %>
          	<li style=" text-transform: uppercase"><%= i.name %></li>
        	<% end %>
        	</div>
        	<%= link_to "Add To Shopping", '/shopping?id=' + pizza.id.to_s, method: :post ,style: "color:white;background-color:red;margin-top:10px" %>
      	</div>
    	</div>
  	<% end %>
</div>
